body {
    background-color: yellow;
}
h1 {
    color: black;
}
h5 {
    float: left;
}
#triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    margin-bottom: 20px;
}
#square {
    width: 100px;
    height: 100px;
    background: red;
    margin-bottom: 20px;
}
